// Copyright (c) 2023 Nordic Semiconductor ASA
// SPDX-License-Identifier: Apache-2.0

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>

/ {
    model = "myModule";
    compatible = "mymodules";

    chosen {
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,code-partition = &slot0_partition;
    };

    // zephyr,user {
    //     io-channels = <&adc 0>;
    // };

    leds {
        compatible = "gpio-leds";
        led_green: led_green { gpios = <&gpio0  2 GPIO_ACTIVE_LOW>; };
        led_blue:  led_blue  { gpios = <&gpio0  3 GPIO_ACTIVE_LOW>; };
        led_red:   led_red   { gpios = <&gpio0 30 GPIO_ACTIVE_LOW>; };
        led3: led_3 { status = "disabled"; };
    };

    /* Ostali korisni GPIO-i */
    custom_gpio_out {
        compatible = "gpio-keys";
        pulse_cathode: pulse_cathode { gpios = <&gpio0  7 GPIO_ACTIVE_HIGH>; };
        pulse_anode:   pulse_anode   { gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>; };
        dc_dc_en:      dc_dc_en      { gpios = <&gpio0  4 GPIO_ACTIVE_HIGH>; };
        buzz:          buzz          { gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>; };

        /* DODATO: PB_MCU (simulira pritisak tastera) i KILL ka LTC2950 */
        pb_mcu: pb_mcu { gpios = <&gpio0 29 GPIO_ACTIVE_LOW>; };
        kill_ltc2950: kill { gpios = <&gpio0  9 GPIO_ACTIVE_LOW>; };
    };

    aliases {
        led0 = &led_green;
        led1 = &led_blue;
        led2 = &led_red;

        pulse-cathode = &pulse_cathode;
        pulse-anode   = &pulse_anode;
        dc-dc-en      = &dc_dc_en;

        /* DODATO: aliasi za PB_MCU i KILL */
        pb-mcu = &pb_mcu;
        kill   = &kill_ltc2950;
        buzz   = &buzz;
        i2c0 = &i2c0;
    };
};

// &adc {
//     status = "okay";
//     #address-cells = <1>;
//     #size-cells = <0>;

//     channel@0 {
//         reg = <0>;
//         zephyr,gain = "ADC_GAIN_1_6";
//         zephyr,reference = "ADC_REF_INTERNAL";
//         zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
//         zephyr,input-positive = <NRF_SAADC_AIN3>;  // P0.02
//         zephyr,resolution = <12>;
//     };
// };

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
                    <NRF_PSEL(TWIM_SCL, 0, 27)>;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 26)>,
                    <NRF_PSEL(TWIM_SCL, 0, 27)>;
            low-power-enable;
        };
    };

    spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 6)>,
                    <NRF_PSEL(SPIM_SCK, 0, 8)>;
        };
    };

    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 6)>,
                    <NRF_PSEL(SPIM_SCK, 0, 8)>;
            low-power-enable;
        };
    };

    /* PWM0 */
    pwm0_default: pwm0_default {
        group1 { psels = <NRF_PSEL(PWM_OUT0, 0, 31)>; };
    };
    pwm0_sleep: pwm0_sleep {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 31)>;
            low-power-enable;
        };
    };
};

&i2c0 {
    compatible = "nordic,nrf-twim";
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    dac@63 {
        compatible = "microchip,mcp4716";
        reg = <0x63>;
        status = "okay";
        #io-channel-cells = <1>;
    };

    fuelgauge: bq27220@55 {
        compatible = "ti,bq274xx";
        reg = <0x55>;
        status = "okay";
        design-voltage = <3700>;      /* mV */
        design-capacity = <2200>;     /* mAh */
        taper-current = <100>;        /* mA */
        terminate-voltage = <3200>;   /* mV */
    };
};

/* MULTIPLEXER (SPIM1 bez MISO) */
&spi1 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;
    mux_stim: hv2607@0 {
        compatible = "microchip,mcp3562";
        reg = <0>;
        spi-max-frequency = <2000000>;
    };
};

&pwm0 {
    status = "okay";
    pinctrl-0 = <&pwm0_default>;
    pinctrl-1 = <&pwm0_sleep>;
    pinctrl-names = "default", "sleep";
};

/* GPIO and GPIOTE */
&gpio0 { status = "okay"; };
&gpiote { status = "okay"; };

/* Flash Partition Layout */
&flash0 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        boot_partition: partition@0      { label = "mcuboot";       reg = <0x00000 0x0C000>; };
        slot0_partition: partition@c000  { label = "image-0";       reg = <0x0C000 0x72000>; };
        slot1_partition: partition@7e000 { label = "image-1";       reg = <0x7E000 0x72000>; };
        scratch_partition: partition@f0000 { label = "image-scratch"; reg = <0xF0000 0x0A000>; };
        storage_partition: partition@fa000 { label = "storage";       reg = <0xFA000 0x06000>; };
    };
};
